.container1{
  text-align: center;
  margin: 50px;
}




.container{
  width: 1000px;
}

.grid-2-columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.grid-2-columns img{
  width: 400px
}

#project_hover img:hover{
opacity: 50%;
}


footer ul{
list-style: none;
text-decoration: none;
}

footer a{
text-decoration: none;
}
.contact{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

#contact-heading{
  text-align: center;

}

.designed{
  text-align: center;
  opacity: 0.5;
}