.container{
  width: 1000px;
}

.grid-2-columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.grid-2-columns img{
  width: 400px
}